/**
 * Box sizing rules
 * https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  cursor: url(../img/cursor.svg), default;
}

body {
  font-family: 'Cormorant Garamond', Helvetica, Arial, sans-serif;
  background-color: #f8f9f6;
  font-size: 2.2rem;
  color: #0f0f0e;
  line-height: 1.3;
  
}


.mainabout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nombre {
  font-family: 'Cormorant Unicase', Helvetica, Arial, sans-serif;
  font-size: 13rem;
  color: #F8F9F6;
  font-weight: 400;
  line-height: 1;
  padding: 11rem 2rem 2rem 2rem;
  text-align: left;
}

h1 {
  font-family: 'Cormorant Unicase', Helvetica, Arial, sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  padding: 10rem 2rem 3rem 2rem;
  text-align: center;

}

h2 {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.2;
  padding: 2rem 2rem 0;
  margin-top: 0rem;
}


h3 {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2;
  padding: 1rem 0;
  margin-top: 2rem;
}

.titulodos {
  font-family: 'Cormorant Unicase', Helvetica, Arial, sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  padding: 8rem 2rem 2rem 2rem;
  text-align: center;

}

.project-title {
  font-family: 'Cormorant Unicase', Helvetica, Arial, sans-serif;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  padding-bottom: 1rem;

}
.project-subtitle {
  font-size: 2.6rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1;
  padding: 0 2rem 6rem 2rem;
  text-align: center;

}



a {
  text-decoration: none;
  color: #0f0f0e;
}

p
 {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 300;
}


.dot-list
{
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-left: 1rem;
}


.one-line-text {

  padding: 2rem 2rem;
  
  }

/* ----------------------- Utilities ------------------ */

.hyphens {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.fotos-title {
  position: relative;
  background: #fd9d8c;
  padding: 1rem;
  box-shadow: -8px 8px 20px rgba(44, 44, 44, 0.1);
  
}





/* ------------------------ MARGINS ---------------------- */

.wrapper {
  
  max-width: 73rem;
  padding: 2rem 2rem;
}

.footer {
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-bottom: 8rem;
}

.attribute-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5rem;
}

.attribute {
  display: block;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  color: #F8F9F6;
}

.description {
  color: #F8F9F6;
  font-size: 2.4rem;
  margin-top: 0rem;
}

/* ----------------------- NAVIGATION ------------------ */
.button {
  background: none;
  border: 0;
  color: inherit;
  overflow: hidden;
  padding: 0;
}

.navigation {
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0rem 2rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'Cormorant Unicase', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.nav-item {
  padding: 0rem 2rem;
}

.nav-item a {
  color: inherit;
}

.menu-open {
  float: right;
  padding: 2rem 2rem 0 0;
  background: none;
  border: 0;
  color: inherit;
  overflow: hidden;
  outline: none;
}






/* ----------------------- HOME ------------------ */

.portada {
  background: #0f0f0e;
  
}

.rectangle {
  display: none;
}

.button2 {
  background: #f8f9f6;
  border: 1px solid #0f0f0e;
  color: #0f0f0e;
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1;
  min-width: 33rem;
  padding: 1.5rem 0;
  margin: 1rem 0;
  text-align: center;
  font-weight: 700;

}
.arrow {
  text-align: center;
  margin: 2rem 0;
  padding-bottom: 6rem;
  color: #F8F9F6;
}

/* ----------------------- MENU MOBILE ------------------ */
.popup {
  background: #f8f9f6;
  display: none;
  border: none;
  top: 0rem;
  left: 50%;
  height: 90.0rem;
  width: 100%;
  transform: translateX(-50%);
  position: absolute;
  padding: 2rem;
  
}

.menu-close {
  float: right;
  background: inherit;
  border: 0;
  color: inherit;
  overflow: hidden;
  outline: none;
  
}

.nav-mob {
  list-style: none;
  padding: 4rem 2rem;
  font-size: 2.8rem;
  line-height: 9rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Cormorant Unicase', Helvetica, Arial, sans-serif;
  text-decoration: none;
  
}

.divider {
  background-color: #b8b8b8;
  height: 1px;
  padding: 0px 20px;
  
}

/* ----------------------- PROJECTS ------------------ */

.cover {
  background-color: #FBE68F;
}

.insight {
  
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500;
  width:fit-content;
}

.insight2 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  width: 80%;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;

  
}

.opportunity {
  
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500;
  width:fit-content;
}

.opportunity2 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  width: 80%;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
 
  
}



.cover-image,
.brand-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  width: 80%;
}

.brand-img {
  width: 80%;
  padding: 0px;
}

.product-container {
  position: relative;
}

.product {
  position: absolute;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
}
.marketing-container {
  position: relative;
  margin-top: 30rem;
}
.marketing {
  padding-bottom: 25rem;
  position: absolute;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.btns {
  background-color: #f8f9f6;
  border: 1px solid #0f0f0e;
  display: block;
  line-height: 1;
  min-width: 33rem;
  padding: 1.7rem 2rem;
  margin: 1rem 0;
}
.btns:hover {
  background: #fd9d8c;
}

.pname {
  color: #0f0f0e;
  font-family: 'Cormorant Unicase', Helvetica, Arial, sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.for {
  color: #0f0f0e;
  font-style: italic;
  font-size: 2rem;
  font-weight: 400;
}

.email {
  margin: 0 auto;
  max-width: 90rem;
  text-align: center;
  padding: 4rem 2rem;
}


.valign {
  margin: 0 auto;
  align-items: center;
  justify-content: center
}

.emailarrow {
  display: none;
}

/* ----------------------- INDIVIDUAL PROJECT ------------------ */

.mockuptext,
.mockupimg {
  padding: 1rem 2rem;
  display: grid;
  text-align: left;
  grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "."
    ".";
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.first-description {
width: auto;
text-align: left;
padding: 0 2rem;


}

.list {
  margin-left: 2rem;
  
}

.section1{
  margin: 2.4rem auto;
  padding: 2rem 0;
}

.phone {
  width: 80%;
  margin: 2rem;
}
.mockup {
  width: 80%;
}

.formats {
  font-size: 3.4rem;
  text-align: center;
}

.mkt {
  padding-bottom: 4rem;
}

.carousel {
  padding-top: 6rem;
}

/* ----------------------- FOTOS ------------------ */

.fotos {
  margin-bottom: 2rem;
}

.fotos-item {
  max-width: 83.5rem;
  margin-top: 2rem;
  position: relative;
  width: 100%;
}



.foto1 .fotos-title {
  margin-bottom: 1rem;
  top: 4rem;
  text-transform: uppercase;
  font-size: 2.6rem;
  left:20%;
  line-height: 1;
  position: absolute;
  text-align: center;
  width: 60%;
  z-index: 1;
  background: #FFC2B7;
  border: 1px solid #0f0f0e;
  color: #0f0f0e;
  padding: 1.5rem 0;
  margin: 1rem 0;
  text-align: center;
  
}
.foto2 .fotos-title {
  margin-bottom: 1rem;
  bottom: 4rem;
  text-transform: uppercase;
  font-size: 2.6rem;
  right: -50%;
  left: 20%;
  line-height: 1;
  position: absolute;
  text-align: center;
  width: 60%;
  z-index: 1;
  background: #FFC2B7;
  border: 1px solid #0f0f0e;
  color: #0f0f0e;
  padding: 1.5rem 0;
  margin: 1rem 0;
  text-align: center;
  
}

.fotos-title:hover {
  background: #FFA750;
}

.button2:hover {
  background: #FFA750;
}

/* ----------------------- JOURNAL ------------------ */

.slider{
  margin: 15px 20px 250px;
  max-height: 350px;

}


.slick-prev,
.slick-next {
  border: none;
  outline: none;
  color: #0f0f0e;
  background-color: inherit;
  
}

.img {
  margin: 15px 10px;
  box-align: center;
  outline: none;
}

/* ----------------------- RESPONSIVE ------------------ */

@media (min-width: 60em) {
  .navigation {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0 4rem 0;
  }

  .navigation-dark {
    background-color: #0f0f0e;
    color: #F8F9F6;
  }

  .project-subtitle {
    font-size: 2.8rem;
    
  
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 8px 0;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #fd9d8c;
  }
  .nav-link::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fd9d8c;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.4s ease-out;
  }
  .nav-link:active::before {
    background-color: #fd9d8c;
  }
  .nav-link:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  .emailarrow {
    display: block;
  }


  .menu-open {
    display: none;
  }

  .portada {
    background: #0f0f0e;
    position: relative;
  }
  .slider{
    margin: 15px 20px 250px;
  
  }
  .rectangle {
    display: block;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 454px;
    background-color: #0f0f0e;
    z-index: 0;
  }
  
  .rectangle path {
    fill: #0f0f0e;
  }

  h1 {
    font-size: 14rem;
    text-align: left;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  h2{
    font-size: 3.2rem;
    line-height: 1.4;
    font-weight: 400;
  }

  .titulodos {
    font-size: 14rem;
    text-align: left;
    margin-left: -2rem;
    padding-top: 0rem;
  }
  .nombre {
    font-size: 14rem;
    line-height: 1;
    text-align: center;
    padding: 3rem 2rem 2rem 2rem;
  }
  .description {
    text-align: center;
    font-weight: lighter;
    margin: 0rem;
    max-width: none;
  }
  .mainproject {
    margin: 0 6rem 0 6rem;
  }

  .mockuptext,
  .mockupimg {
    padding: 2rem 2rem;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    
  grid-template-areas: ". ." 
  ;
}

.cover-image,
.brand-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px;
  width: 50%;
}

.product-img {
  padding: 4rem 0rem;
}
.single-img {
  padding: 0 2rem;
}

.first-description {
  width: 70%;
  text-align: center;
  display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
/* ----------------------- H2 LINE ------------------ */

.row {
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
}

.row::after {
  background: #0f0f0e;
  content: '';
  display: block;
  height: 1px;
  max-width: 73rem;
  position: absolute;
  width: 100%;
  margin-left: 4rem;
  
}
  .fotos {
    display: flex;
    margin-bottom: 2rem;
  }
  .fotos-title {
    font-size: 2.8rem;
  }

  .marketing-container {
    position: relative;
    margin-top: 40rem;
  }

  .section1{
    margin: 2.4rem auto;
    padding: 3.rem 0;
  }

  

.insight2,
.opportunity2{

  width: 40rem;

}
  
  .phone {
    width: 33%;
    padding: 0 3rem;
    margin: 2rem 0;
  }

  .colors {
    display: flex;
    align-items: stretch;
    height: 20rem;
    margin: 8rem 0;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4rem 20rem 0 20rem;
  }

  .foto1 {
    margin: 0 2rem 0 4.4rem;
  }
  .foto2 {
    margin: 0 4.4rem 0 2rem;
  }
  .arrow {
    margin: 2rem auto;
    text-align: center;
    padding-bottom: 6rem;
  }
  .projects {
    margin: 6rem 0;
    padding-left: 2rem;
  }
  .btns {
    min-width: 60rem;
  }
  .pname {
    font-size: 2.8rem;
 
  }
  .img {
    
    max-height: 350px;
    box-align: center;
    
  }
  
}

@media (max-width: 574px) {
.name-1::after {
  content: "-";
}

.name-2 {
  display: block;
}
  
}

