/**
 * Box sizing rules
 * https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /* Remove default padding */
 ul,
 ol {
   padding: 0;
 }
 
 /* Remove default margin */
 body,
 h1,
 h2,
 h3,
 h4,
 p,
 ul,
 ol,
 li,
 figure,
 figcaption,
 blockquote,
 dl,
 dd {
   margin: 0;
 }
 
 /* Set core body defaults */
 body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
 }
 
 /* Remove list styles on ul, ol elements with a class attribute */
 ul,
 ol {
   list-style: none;
 }
 
 /* A elements that don't have a class get default styles */
 a:not([class]) {
   text-decoration-skip-ink: auto;
 }
 
 /* Make images easier to work with */
 img {
   max-width: 100%;
   display: block;
 }
 
 /* Natural flow and rhythm in articles by default */
 article > * + * {
   margin-top: 1em;
 }
 
 /* Inherit fonts for inputs and buttons */
 input,
 button,
 textarea,
 select {
   font: inherit;
 }
 
 /* Remove all animations and transitions for people that prefer not to see them */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }
 
 html {
    font-size: 62.5%; 
  }

 body {
    font-family: 'Cormorant Garamond', Helvetica, Arial, sans-serif;
    background-color: #F8F9F6;
    font-size: 2.4rem; 
    color:#0F0F0E;
    line-height: 1.2;
  }


h2 {
  font-family: 'Cormorant Unicase', Helvetica, Arial, sans-serif;
  font-size: 11.0rem; 
  font-weight: 400; 
  line-height: 1.1;
  padding: 0mm 2.8rem;
}

h3 {
    font-size: 2.9rem;
    font-weight: 400; 
    line-height: 1.2;
    padding: 2rem 0;
  }

ul,
li {
    list-style: none;
    display: flex;
    padding: 0rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Cormorant Unicase', Helvetica, Arial, sans-serif;
    color: #0F0F0E;
  }

ul,
li,
a,
{
  font-size: 2.4rem;
  transform: uppercase;
}


p {
  padding: 0.5rem 0;
}

.row {
  position: relative;
  width: 100%;
}

.header {
  width: 100%;
  padding: 1.5rem 0 4rem 0;
}
.row::after {
  background: #0F0F0E;
  content: '';
  display: block;
  height: 1px;
  max-width: 40rem;
  position: absolute;
  width: 100%;
}


.wrapper {
    margin: 0 auto;
    max-width: 65rem;
    padding: 2rem 2.8rem;
  }

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation {
  display: none;
  float: right;
  padding-right: 2.8rem;
}

.menu-open {
  float:right;
}


.menu-close {
  display: none;
}

/* ----------------------- RESPONSIVE ------------------ */

@media (min-width: 60em) {

  .navigation {
    display: block;

  }
  .menu-open {
    display: none;
  }


}